.button{
	color: black;
	background: white;
	font-weight: bold;
	text-decoration: none;
	transition: 1s;
	font-size: 15px;
	padding: 8px;
	border-radius: 0%;
}

.button:hover{
	background-color: black;
	color: white;
	transition: 1s;
}